# generic
build/
misc/
private/

# Finder
.DS_Store

# Xcode
xcuserdata/
.idea/

# CocoaPods
Pods
DrupalLib.xcodeproj/xcshareddata/
DrupalLib.xcworkspace/xcshareddata/xcschemes/
DerivedData

# Bundler binstubs
.bundle
bin